# Final Project Module 1
### Exploratory Data Analysis and Descriptive Statistics

* Student name: Natalia Quintero E.
* Student pace: Full time
* Scheduled project review date/time: Friday, December 21, 2018. 1:00pm PST
* Instructor name: Rafael Carrasco
* Blog post URL: <font color='red'>blog url here</font>

_________________________
Sections - Following the OSEMiN framework
<ul><li>Introduction - dataset familirization- column meaning and accuracy</li>
    <li>Data cleaning - scrub</li> 
    <li>Exploration - Data analysis: understand distributions - calculate basic descriptive stats - no hypothesis is being tested, no predictions attempted</li>
    <li>Modeling (linear regression): at least 3 meaningful questions - relationships</li>
    <li>Interpretation - Visualization: at least 4, with interpretations - Summarise - present findings - recomendations</li>
    <li>Sources</li></ul>

## INTRODUCTION

This project attepts to predict the sale price of houses in King County, WA State.<br>
The data set has been provided in the form of a kc_house_data.csv file. Project requirements and expected observations from this study can be found in the index.ipynb file.

<font color='red'>add model and location information, define king county, boundaries</font>

Import libraries needed and data set:

In [17]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

An initial look at the dataframe:

In [84]:
df = pd.read_csv('kc_house_data.csv')  
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,...,11,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,...,7,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,0.0,NaN,...,7,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,0.0,0.0,...,7,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,0.0,0.0,...,7,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570

### Data set information

In [85]:
# make sure the data structure is a dataframe
type(df)

pandas.core.frame.DataFrame

In [86]:
df.info()     #21,597 records and 21 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [87]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

Familiarize with the columns: a file (column_names.md) was provided with a short definition for each column; the contents of this file were confronted with information displayed for each house in the King County Parcel Viewer website, some descriptions have been complemented or changed for accuracy in the information. 
Below there is a screen shot of the first house in the dataframe and the information displayed on King County's website.

<img src="DF_0.png">

### Column names and description
* **id:** unique identified for a house - Parcel Number
* **date:** date a house was sold
* **price:** price prediction target
* **bedrooms:** number of bedrooms/house
* **bathrooms:** number of bathrooms/house
* **sqft_living:** living sq. footage of the home. Total finished living space. This would include finished space in a basement 
* **sqft_lot:** sqr. footage of the lot. A lot is a piece of land with specific boundaries.
* **floors:** number of floors (levels) in house
* **waterfront:** house which has a view to a waterfront
* **view:** <strike>has been viewed</strike> refers to territorial views (water, mountains)
* **condition:** relative to age and grade. Coded 1-5 
    1. Poor/worn out. Approaching abandonment or major recosntruction, effective age near the end 
    2. Fair/badly worn. Much repair needed, inadequate building utility and systems.
    3. Average. A few minor repairs needed. All major components are still functional. 
    4. Good. No obvious maintenance required but neither is everything new.


* **grade:** classification by construction quality which refers to the types of materials used and the quality of workmanship. Grades run from 1 to 13. 

    * 1-3 Falls short of minimum building standards. Normally cabin or inferior structure
    * 4	Generally older, low quality construction. Does not meet code.
    * 5	Low construction costs and workmanship. Small, simple design.
    * 6	Lowest grade currently meeting building code. Low quality materials and simple designs.
    * 7	Average grade of construction and design. Commonly seen in plats and older sub-divisions.
    * 8	Just above average in construction and design. Usually better materials in both the exterior and interior finish work.
    * 9	Better architectural design with extra interior and exterior design and quality.
    * 10	Homes of this quality generally have high quality features. Finish work is better and more design quality is seen in the floor plans. Generally have a larger square footage.
    * 11	Custom design and higher quality finish work with added amenities of solid woods, bathroom fixtures and more luxurious options.
    * 12	Custom design and excellent builders. All materials are of the highest quality and all conveniences are present.
    * 13	Generally custom designed and built. Mansion level. Large amount of highest quality cabinet work, wood trim, marble, entry ways etc.


* **sqft_above:** ABOVE GRADE LIVING AREA; AGLA. The living area in a house not including the basement. 
* **sqft_basement:** square footage of the basement
* **yr_built:** year the house was built
* **yr_renovated:** year the house was renovated
* **zipcode:** address zip code 
* **lat:** latitude coordinate
* **long:** longitude coordinate
* **sqft_living15:** the square footage of interior housing living space for the nearest 15 neighbors
* **sqft_lot15:** the square footage of the land lots of the nearest 15 neighbors

Observations:
* Missing or NaN values in waterfornt, view, yr_renovated.
* Placeholders in sqft_basement
* By the definition of the columns,  we can see that there are two categorical columns (condition and grade). 
* Definition of the last two columns could not be verified

## DATA CLEANING

My aproach here is to check null values and placeholders (for each column). <br>
Drop columns/rows that contain a large ammount of missing values.<br>
Replace/fill missing values where possible.<br>
Treat missig values as own category.<br>

### NaN values
Check for total number of null values (NaN) in the dataset

In [88]:
df.isna().sum()  # by column

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

Now, check each column for missing/null values and placeholders

#### id
The id column is the parcel number assigned to each plot.

In [89]:
# This column will be left as it is
df['id'].dtypes

dtype('int64')

#### date

In [91]:
# convert argument to datetime for possible manipulation later on
df['date'] = pd.to_datetime(df['date'])
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [92]:
df['date'].unique() # no placeholders

array(['2014-10-13T00:00:00.000000000', '2014-12-09T00:00:00.000000000',
       '2015-02-25T00:00:00.000000000', '2015-02-18T00:00:00.000000000',
       '2014-05-12T00:00:00.000000000', '2014-06-27T00:00:00.000000000',
       '2015-01-15T00:00:00.000000000', '2015-04-15T00:00:00.000000000',
       '2015-03-12T00:00:00.000000000', '2015-04-03T00:00:00.000000000',
       '2014-05-27T00:00:00.000000000', '2014-05-28T00:00:00.000000000',
       '2014-10-07T00:00:00.000000000', '2015-01-24T00:00:00.000000000',
       '2014-07-31T00:00:00.000000000', '2014-05-29T00:00:00.000000000',
       '2014-12-05T00:00:00.000000000', '2015-04-24T00:00:00.000000000',
       '2014-05-14T00:00:00.000000000', '2014-08-26T00:00:00.000000000',
       '2014-07-03T00:00:00.000000000', '2014-05-16T00:00:00.000000000',
       '2014-11-20T00:00:00.000000000', '2014-11-03T00:00:00.000000000',
       '2014-06-26T00:00:00.000000000', '2014-12-01T00:00:00.000000000',
       '2014-06-24T00:00:00.000000000', '2015-03-02T00:00:00.000000000',
       '2014-11-10T00:00:00.000000000', '2014-12-03T00:00:00.000000000',
       '2014-06-13T00:00:00.000000000', '2014-12-30T00:00:00.000000000',
       '2015-02-13T00:00:00.000000000', '2014-06-20T00:00:00.000000000',
       '2014-07-15T00:00:00.000000000', '2014-08-11T00:00:00.000000000',
       '2014-07-07T00:00:00.000000000', '2014-10-28T00:00:00.000000000',
       '2014-07-29T00:00:00.000000000', '2014-07-18T00:00:00.000000000',
       '2015-03-25T00:00:00.000000000', '2014-07-16T00:00:00.000000000',
       '2015-04-28T00:00:00.000000000', '2015-03-11T00:00:00.000000000',
       '2014-09-16T00:00:00.000000000', '2015-02-17T00:00:00.000000000',
       '2014-12-31T00:00:00.000000000', '2015-02-05T00:00:00.000000000',
       '2015-03-03T00:00:00.000000000', '2014-08-19T00:00:00.000000000',
       '2015-04-07T00:00:00.000000000', '2014-08-27T00:00:00.000000000',
       '2015-02-23T00:00:00.000000000', '2014-12-10T00:00:00.000000000',
       '2014-08-28T00:00:00.000000000', '2014-10-21T00:00:00.000000000',
       '2014-12-07T00:00:00.000000000', '2014-06-03T00:00:00.000000000',
       '2014-09-09T00:00:00.000000000', '2014-10-09T00:00:00.000000000',
       '2014-08-25T00:00:00.000000000', '2014-06-12T00:00:00.000000000',
       '2014-09-12T00:00:00.000000000', '2015-01-05T00:00:00.000000000',
       '2014-06-10T00:00:00.000000000', '2014-07-10T00:00:00.000000000',
       '2015-03-16T00:00:00.000000000', '2014-11-05T00:00:00.000000000',
       '2015-04-20T00:00:00.000000000', '2014-06-09T00:00:00.000000000',
       '2015-03-23T00:00:00.000000000', '2014-12-02T00:00:00.000000000',
       '2014-12-22T00:00:00.000000000', '2015-01-28T00:00:00.000000000',
       '2014-06-02T00:00:00.000000000', '2014-11-14T00:00:00.000000000',
       '2014-06-18T00:00:00.000000000', '2014-05-19T00:00:00.000000000',
       '2014-09-04T00:00:00.000000000', '2014-05-22T00:00:00.000000000',
       '2015-02-26T00:00:00.000000000', '2014-07-25T00:00:00.000000000',
       '2014-12-23T00:00:00.000000000', '2014-09-08T00:00:00.000000000',
       '2015-03-30T00:00:00.000000000', '2014-07-11T00:00:00.000000000',
       '2014-06-11T00:00:00.000000000', '2014-10-27T00:00:00.000000000',
       '2014-12-12T00:00:00.000000000', '2014-09-24T00:00:00.000000000',
       '2015-04-02T00:00:00.000000000', '2014-05-23T00:00:00.000000000',
       '2014-07-23T00:00:00.000000000', '2015-03-05T00:00:00.000000000',
       '2015-03-04T00:00:00.000000000', '2014-11-24T00:00:00.000000000',
       '2014-11-21T00:00:00.000000000', '2014-06-23T00:00:00.000000000',
       '2015-01-08T00:00:00.000000000', '2015-05-11T00:00:00.000000000',
       '2015-01-02T00:00:00.000000000', '2014-11-19T00:00:00.000000000',
       '2015-04-06T00:00:00.000000000', '2014-11-04T00:00:00.000000000',
       '2014-07-17T00:00:00.000000000', '2015-01-26T00:00:00.000000000',
       '2014-08-13T00:00:00.000000000', '2014-08-05T00:00:00.000000000',
       '2014-05-07T00:00:00.000000000', '2014-07-08T00:00:00.000000000',
       '2015-05-08T00:00:00.000000000', '2015-02-27T00:00:00.000000000',
       '2014-06-25T00:00:00.000000000', '2014-08-06T00:00:00.000000000',
       '2014-10-30T00:00:00.000000000', '2014-08-20T00:00:00.000000000',
       '2015-04-09T00:00:00.000000000', '2015-03-31T00:00:00.000000000',
       '2015-04-01T00:00:00.000000000', '2014-07-28T00:00:00.000000000',
       '2014-08-07T00:00:00.000000000', '2014-11-13T00:00:00.000000000',
       '2014-10-03T00:00:00.000000000', '2015-03-09T00:00:00.000000000',
       '2014-08-12T00:00:00.000000000', '2014-12-08T00:00:00.000000000',
       '2015-02-19T00:00:00.000000000', '2015-03-24T00:00:00.000000000',
       '2014-06-05T00:00:00.000000000', '2014-05-02T00:00:00.000000000',
       '2015-01-16T00:00:00.000000000', '2014-09-29T00:00:00.000000000',
       '2015-02-10T00:00:00.000000000', '2014-07-09T00:00:00.000000000',
       '2014-05-30T00:00:00.000000000', '2014-11-17T00:00:00.000000000',
       '2015-01-07T00:00:00.000000000', '2015-04-14T00:00:00.000000000',
       '2014-09-05T00:00:00.000000000', '2014-05-05T00:00:00.000000000',
       '2015-04-18T00:00:00.000000000', '2014-08-18T00:00:00.000000000',
       '2014-05-15T00:00:00.000000000', '2014-11-11T00:00:00.000000000',
       '2015-01-13T00:00:00.000000000', '2014-10-14T00:00:00.000000000',
       '2014-11-12T00:00:00.000000000', '2014-08-04T00:00:00.000000000',
       '2014-09-19T00:00:00.000000000', '2014-11-23T00:00:00.000000000',
       '2015-04-22T00:00:00.000000000', '2015-01-14T00:00:00.000000000',
       '2015-02-21T00:00:00.000000000', '2014-10-23T00:00:00.000000000',
       '2014-08-22T00:00:00.000000000', '2014-09-18T00:00:00.000000000',
       '2014-09-03T00:00:00.000000000', '2014-06-04T00:00:00.000000000',
       '2015-04-13T00:00:00.000000000', '2014-06-16T00:00:00.000000000',
       '2014-09-02T00:00:00.000000000', '2015-03-20T00:00:00.000000000',
       '2014-07-01T00:00:00.000000000', '2014-10-01T00:00:00.000000000',
       '2015-01-27T00:00:00.000000000', '2015-04-27T00:00:00.000000000',
       '2015-02-12T00:00:00.000000000', '2015-03-14T00:00:00.000000000',
       '2014-09-23T00:00:00.000000000', '2014-05-13T00:00:00.000000000',
       '2015-04-21T00:00:00.000000000', '2014-10-20T00:00:00.000000000',
       '2015-02-11T00:00:00.000000000', '2014-08-29T00:00:00.000000000',
       '2014-10-24T00:00:00.000000000', '2014-12-16T00:00:00.000000000',
       '2014-08-14T00:00:00.000000000', '2015-05-04T00:00:00.000000000',
       '2015-05-01T00:00:00.000000000', '2014-10-17T00:00:00.000000000',
       '2014-09-25T00:00:00.000000000', '2015-05-05T00:00:00.000000000',
       '2015-05-13T00:00:00.000000000', '2014-06-30T00:00:00.000000000',
       '2015-04-10T00:00:00.000000000', '2015-02-09T00:00:00.000000000',
       '2014-07-02T00:00:00.000000000', '2015-02-24T00:00:00.000000000',
       '2014-10-22T00:00:00.000000000', '2014-10-02T00:00:00.000000000',
       '2014-06-19T00:00:00.000000000', '2015-02-28T00:00:00.000000000',
       '2015-04-08T00:00:00.000000000', '2014-11-22T00:00:00.000000000',
       '2014-07-21T00:00:00.000000000', '2015-02-02T00:00:00.000000000',
       '2015-04-16T00:00:00.000000000', '2014-07-22T00:00:00.000000000',
       '2014-11-06T00:00:00.000000000', '2014-12-29T00:00:00.000000000',
       '2014-09-22T00:00:00.000000000', '2014-10-06T00:00:00.000000000',
       '2014-09-17T00:00:00.000000000', '2015-01-30T00:00:00.000000000',
       '2015-03-26T00:00:00.000000000', '2015-04-23T00:00:00.000000000',
       '2014-12-04T00:00:00.000000000', '2014-05-20T00:00:00.000000000',
       '2015-04-29T00:00:00.000000000', '2015-03-13T00:00:00.000000000',
       '2015-01-21T00:00:00.000000000', '2014-08-01T00:00:00.000000000',
       '2015-04-30T00:00:00.000000000', '2015-03-06T00:00:00.000000000',
       '2015-04-17T00:00:00.000000000', '2014-09-11T00:00:00.000000000',
       '2015-03-18T00:00:00.000000000', '2014-07-30T00:00:00.000000000',
       '2014-12-19T00:00:00.000000000', '2014-05-06T00:00:00.000000000',
       '2015-05-12T00:00:00.000000000', '2014-08-21T00:00:00.000000000',
       '2015-03-19T00:00:00.000000000', '2015-05-02T00:00:00.000000000',
       '2015-02-22T00:00:00.000000000', '2014-11-26T00:00:00.000000000',
       '2014-10-15T00:00:00.000000000', '2015-01-06T00:00:00.000000000',
       '2014-08-08T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '2014-06-14T00:00:00.000000000', '2015-05-10T00:00:00.000000000',
       '2014-05-21T00:00:00.000000000', '2014-05-08T00:00:00.000000000',
       '2014-10-29T00:00:00.000000000', '2015-05-07T00:00:00.000000000',
       '2014-09-06T00:00:00.000000000', '2014-10-08T00:00:00.000000000',
       '2015-03-10T00:00:00.000000000', '2014-12-17T00:00:00.000000000',
       '2014-12-18T00:00:00.000000000', '2015-01-23T00:00:00.000000000',
       '2014-12-11T00:00:00.000000000', '2014-09-30T00:00:00.000000000',
       '2015-02-04T00:00:00.000000000', '2015-02-06T00:00:00.000000000',
       '2014-06-17T00:00:00.000000000', '2015-05-06T00:00:00.000000000',
       '2014-06-22T00:00:00.000000000', '2014-08-15T00:00:00.000000000',
       '2014-11-18T00:00:00.000000000', '2014-08-02T00:00:00.000000000',
       '2014-10-16T00:00:00.000000000', '2014-07-12T00:00:00.000000000',
       '2014-09-10T00:00:00.000000000', '2014-05-09T00:00:00.000000000',
       '2014-12-15T00:00:00.000000000', '2014-11-07T00:00:00.000000000',
       '2014-07-14T00:00:00.000000000', '2014-06-15T00:00:00.000000000',
       '2014-09-26T00:00:00.000000000', '2014-06-06T00:00:00.000000000',
       '2015-01-22T00:00:00.000000000', '2015-03-17T00:00:00.000000000',
       '2014-11-25T00:00:00.000000000', '2014-10-10T00:00:00.000000000',
       '2014-12-26T00:00:00.000000000', '2015-01-20T00:00:00.000000000',
       '2015-05-14T00:00:00.000000000', '2015-01-12T00:00:00.000000000',
       '2014-07-24T00:00:00.000000000', '2015-04-25T00:00:00.000000000',
       '2015-02-20T00:00:00.000000000', '2014-09-15T00:00:00.000000000',
       '2014-05-17T00:00:00.000000000', '2015-04-26T00:00:00.000000000',
       '2015-01-09T00:00:00.000000000', '2015-04-19T00:00:00.000000000',
       '2014-05-11T00:00:00.000000000', '2014-05-24T00:00:00.000000000',
       '2015-02-14T00:00:00.000000000', '2015-05-03T00:00:00.000000000',
       '2014-06-01T00:00:00.000000000', '2014-10-31T00:00:00.000000000',
       '2015-03-27T00:00:00.000000000', '2014-06-21T00:00:00.000000000',
       '2014-10-18T00:00:00.000000000', '2014-12-20T00:00:00.000000000',
       '2015-02-03T00:00:00.000000000', '2015-01-29T00:00:00.000000000',
       '2014-07-26T00:00:00.000000000', '2014-07-19T00:00:00.000000000',
       '2014-12-21T00:00:00.000000000', '2014-06-28T00:00:00.000000000',
       '2014-07-20T00:00:00.000000000', '2015-01-19T00:00:00.000000000',
       '2014-12-24T00:00:00.000000000', '2014-05-26T00:00:00.000000000',
       '2014-08-16T00:00:00.000000000', '2014-09-27T00:00:00.000000000',
       '2014-07-06T00:00:00.000000000', '2014-12-14T00:00:00.000000000',
       '2014-10-05T00:00:00.000000000', '2015-04-12T00:00:00.000000000',
       '2014-11-15T00:00:00.000000000', '2014-11-08T00:00:00.000000000',
       '2014-11-01T00:00:00.000000000', '2014-05-25T00:00:00.000000000',
       '2014-08-31T00:00:00.000000000', '2014-09-07T00:00:00.000000000',
       '2015-03-29T00:00:00.000000000', '2014-10-19T00:00:00.000000000',
       '2014-06-29T00:00:00.000000000', '2014-05-04T00:00:00.000000000',
       '2015-04-04T00:00:00.000000000', '2014-11-16T00:00:00.000000000',
       '2015-02-16T00:00:00.000000000', '2014-05-31T00:00:00.000000000',
       '2014-10-04T00:00:00.000000000', '2014-05-18T00:00:00.000000000',
       '2014-11-09T00:00:00.000000000', '2015-03-15T00:00:00.000000000',
       '2015-04-05T00:00:00.000000000', '2014-05-10T00:00:00.000000000',
       '2015-02-07T00:00:00.000000000', '2014-06-08T00:00:00.000000000',
       '2014-12-13T00:00:00.000000000', '2014-08-09T00:00:00.000000000',
       '2015-03-21T00:00:00.000000000', '2014-10-12T00:00:00.000000000',
       '2015-05-15T00:00:00.000000000', '2014-08-17T00:00:00.000000000',
       '2014-07-04T00:00:00.000000000', '2014-09-13T00:00:00.000000000',
       '2015-03-07T00:00:00.000000000', '2015-04-11T00:00:00.000000000',
       '2014-08-10T00:00:00.000000000', '2014-12-06T00:00:00.000000000',
       '2015-05-09T00:00:00.000000000', '2014-08-03T00:00:00.000000000',
       '2014-09-28T00:00:00.000000000', '2014-05-03T00:00:00.000000000',
       '2014-07-13T00:00:00.000000000', '2014-07-05T00:00:00.000000000',
       '2014-10-25T00:00:00.000000000', '2014-11-28T00:00:00.000000000',
       '2015-03-28T00:00:00.000000000', '2015-03-01T00:00:00.000000000',
       '2014-09-20T00:00:00.000000000', '2014-11-02T00:00:00.000000000',
       '2015-01-25T00:00:00.000000000', '2014-09-21T00:00:00.000000000',
       '2015-01-10T00:00:00.000000000', '2014-08-23T00:00:00.000000000',
       '2014-10-26T00:00:00.000000000', '2014-11-29T00:00:00.000000000',
       '2014-06-07T00:00:00.000000000', '2015-05-24T00:00:00.000000000',
       '2015-01-31T00:00:00.000000000', '2014-12-27T00:00:00.000000000',
       '2015-01-17T00:00:00.000000000', '2014-09-14T00:00:00.000000000',
       '2015-03-08T00:00:00.000000000', '2014-08-30T00:00:00.000000000',
       '2015-05-27T00:00:00.000000000', '2015-03-22T00:00:00.000000000',
       '2015-02-15T00:00:00.000000000', '2014-10-11T00:00:00.000000000',
       '2015-02-01T00:00:00.000000000', '2014-11-30T00:00:00.000000000',
       '2014-08-24T00:00:00.000000000', '2014-07-27T00:00:00.000000000'],
      dtype='datetime64[ns]')

#### price

In [96]:
df['price'].dtypes   # all value sare numbers

dtype('float64')

#### waterfront

In [47]:
# df.shape  # (21597, 21)
df['waterfront'].isna().sum() / df.shape[0] * 100     # 11% of the data will be eliminated if the column is dropped

11.00152798999861

#### view

In [52]:
# It looks like view is a measure for re-selling purposes, I will leave the column for now 
# but I dont think this affects the selling price.
df['view'].unique()

array([ 0., nan,  3.,  4.,  2.,  1.])

In [64]:
# drop 63 rows 
df.dropna(subset=['view'], inplace=True)

In [65]:
# confirm values have been dropped and other values have not changed in the DF
df.head(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,...,11,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,...,7,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,0.0,0.0,...,7,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,0.0,0.0,...,7,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570
10,1736800520,4/3/2015,662500.0,3,2.50,3560,9796,1.0,NaN,0.0,...,8,1860,1700.0,1965,0.0,98007,47.6007,-122.145,2210,8925
11,9212900260,5/27/2014,468000.0,2,1.00,1160,6000,1.0,0.0,0.0,...,7,860,300.0,1942,0.0,98115,47.6900,-122.292,1330,6000
12,114101516,5/28/2014,310000.0,3,1.00,1430,19901,1.5,0.0,0.0,...,7,1430,0.0,1927,NaN,98028,47.7558,-122.229,1780,12697
13,6054650070,10/7/2014,400000.0,3,1.75,1370,9680,1.0,0.0,0.0,...,7,1370,0.0,1977,0.0,98074,47.6127,-122.045,1370,10208
14,1175000570,3/12/2015,530000.0,5,2.00,1810,4850,1.5,0.0,0.0,...,7,1810,0.0,1900,0.0,98107,47.6700,-122.394,1360,4850
15,9297300055,1/24/2015,650000.0,4,3.00,2950,5000,2.0,0.0,3.0,...,9,1980,970.0,1979,0.0,98126,47.5714,-122.375,2140,4000
16,1875500060,7/31/2014,395000.0,3,2.00,1890,14040,2.0,0.0,0.0,...,7,1890,0.0,1994,0.0,98019,47.7277,-121.962,1890,14018
17,6865200140,5/29/2014,485000.0,4,1.00,1600,4300,1.5,0.0,0.0,...,7,1600,0.0,1916,0.0,98103,47.6648,-122.343,1610,4300
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,0.0,0.0,...,7,1200,?,1921,0.0,98002,47.3089,-122.210,1060,5095
19,7983200060,4/24/2015,230000.0,3,1.00,1250,9774,1.0,0.0,0.0,...,7,1250,0.0,1969,0.0,98003,47.3343,-122.306,1280,8850
20,6300500875,5/14/2014,385000.0,4,1.75,1620,4980,1.0,0.0,0.0,...,7,860,760.0,1947,0.0,98133,47.7025,-122.341,1400,4980

In [66]:
# verify 
df['view'].unique()

array([0., 3., 4., 2., 1.])

#### yr_renovated

In [68]:
df['yr_renovated'].unique()

array([   0., 1991.,   nan, 2002., 2010., 1992., 2013., 1994., 1978.,
       2005., 2003., 1984., 1954., 2014., 2011., 1983., 1945., 1990.,
       1988., 1977., 1981., 1995., 2000., 1999., 1998., 1970., 1989.,
       2004., 1986., 2007., 1987., 2006., 1985., 2001., 1980., 1971.,
       1979., 1997., 1950., 1969., 1948., 2009., 2015., 1974., 2008.,
       1968., 2012., 1963., 1951., 1962., 1953., 1993., 1996., 1955.,
       1982., 1956., 1940., 1976., 1946., 1975., 1964., 1973., 1957.,
       1959., 1960., 1967., 1965., 1934., 1972., 1944., 1958.])

## EXPLORATION

## MODELING

## INTERPRETATION

## SOURCES

<p>Pandas: Python library designed to work  with relational data. Used to store files in the form of DataFrames</p>
<p><a href = "https://blue.kingcounty.com/Assessor/eRealProperty/ResidentialGlossary.aspx?idx=viewall&Parcel=2767602490&AreaReport=http://www.KingCounty.gov/depts/Assessor/Reports/area-reports/2018/residential-northwest/019.aspx">King County glossary of terms for residential parcels</a></p>
<p><a href= "https://kingcounty.gov/services/gis/Maps/parcel-viewer.aspx">King County Parcel Viewer and Information